@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.card {
  height: 50vh;
  width: 50%;
  background: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80")
    center / 100% auto;
  overflow: hidden;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-family: "Bakbak One", cursive;
  font-size: 4rem;
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.text {
  transform: translateY(50%);
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.card:hover .overlay,
.card:hover .text {
  transform: translateY(0);
  opacity: 1;
}
